<div class="epic-prompt-container">
  <img class="prompt-img sr-img-level-{{level}}" src="{{img}}" alt="{{safeName}}">
  <img class="epic-prompt-warning sr-level-{{level}}" src="{{overlayImgSrc}}" alt="">
  <h1 class="epic-prompt-name">{{{headlineHtml}}}</h1>
</div>
